.container {
    width: 100%;
    max-width: 3000px;  /* 你可以设置一个更大的宽度 */
    margin: 0 auto;  /* 居中容器 */
    border: 1px solid #d3d3d3;
}

.container div {
    display: inline-block;  /* 或者使用 flex 布局 */
    width: auto;  /* 适应内容宽度 */
}

.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}
